:root {
    --beige: #eee;
    --green: #335036;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alata','Rubik', Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 50%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

.btn{
    display: flex;
    margin-top: 3rem;
    border-radius: 10rem;
    background: #335036;
    padding: 1rem 3.7rem;
    cursor: pointer;
    font-size: 3rem;
    color: #fff;
    margin-left: auto;
}

.btn:hover{
    background: var(--beige);
    color:#335036
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(51, 80, 54, 0.50);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(51, 80, 54, 0.90);
}

header .logo {
    font-size: 3rem;
    color: #fff;
    font-weight: 900; /* Extra bold */
    font-family: 'Playfair Display', serif;
    transition: color 0.3s ease;
}

header .logo:hover {
    color: #335036;
}

header .logo span {
    color: var(--green);
}


header .navbar a {
    font-size: 1.5rem;
    padding: 0 2.65rem;
    color: #fff;
    font-family: 'Rubik', serif;
}

header .navbar a:hover {
    color: var(--green);
}

header .icons a {
    font-size: 2.5rem;
    color: #fff;
    margin-left: 1.5rem;
}

header .icons a:hover {
    color: var(--green);
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #fff;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .1);
    display: none;
}

.bikerental {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(/Download/bikerental.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.bikerental .content {
    max-width: 100rem;
    text-align: center;
}

.bikerental .content h3 {
    font-size: 12rem;
    color: #fff;
    font-family: 'Playfair Display';
    margin-bottom: 3rem;
}

.description{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #E1E6E0;
    background-size: cover;
    background-position: center;
}

.description .content{
    max-width: 100rem;
    text-align: center;
}

.description .content h3 {
    font-size: 7rem;
    color: #333;
    font-family: 'Alata';
    margin-bottom: 2.5rem;
}
.description .content p {
    font-size: 3rem;
    color: #333;
    font-family: 'Alata';
    margin-bottom: 3rem;
}

.bike {
    display:flex;
    min-height: 100vh;
    background-color: #fff;
    background-size: cover;
    justify-content: space-between;
}

.bike .content .content-block h3{
    font-size: 7rem;
    color: #000000;
    font-family: 'Alata';
    margin-bottom: 1rem;
}

.bike .content .content-block span{
    font-size: 7rem;
    color: #000000;
    font-family: 'Alata';
    margin-bottom: 3rem;
}

.bike .content .content-block p{
    font-size: 3rem;
    color: #000000;
    font-family: 'Alata';
    margin-bottom: 2.5rem;
}

.bike .content .container {
    display: flex;
    justify-content: flex-end;
}














/* media queries */
@media (max-width: 991px) {
    html {
        font-size: 40%;
    }
    
    header {
        padding: 1rem;
    }
    
}

@media (max-width: 768px) {
    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%; 
        left: 0;
        right: 0;
        background: rgba(238, 238, 238, 0.8);
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.2s linear;
    }

    .bikerental .content h3{
        font-size: 8rem;
    }

    .description .content h3 {
        font-size: 5rem;
    }

    header #toggler:checked ~ .navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        visibility: visible;
        opacity: 1;
    }

    header .navbar a {
        margin: 1rem;
        padding: 1rem;
        background: rgba(0, 0, 0, .1);
        border: .1rem solid rgba(238, 238, 238, 0.8) ;
        display: block;
    }
    header .navbar a:hover {
        color: var(--beige);
        background: var(--green);
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    
    header {
        padding: 1rem;
    }

    .description .content h3 {
        font-size: 3rem;
    }

    .description .content p {
        font-size: 0.5rem;
    }
}

